[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
zipp = "==1.2.0" # Necessary only for python3.5
pytest = "*"
flake8 = "*"

[packages]
requests = "==2.23.0"
beautifulsoup4 = "==4.9.3"

[requires]
python_version = "3.5"
