[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "ncoreparser"
version = "2.0.0"
description = "Package to download from ncore.pro"
authors = [
  { name="Aron Radics", email="aron.radics.jozsef@gmail.com" }
]
license = "MIT"
readme = "Readme.md"
dependencies = [
  "httpx>=0.26.0",
]

[project.urls]
Repository = "https://github.com/radaron/ncoreparser.git"


[project.optional-dependencies]
dev = ["pytest", "pylint"]

[tool.pylint.'MESSAGES CONTROL']
disable = [
  "too-few-public-methods",
  "missing-module-docstring",
  "missing-class-docstring",
  "missing-function-docstring",
  "redefined-builtin",
]

[tool.pylint.format]
max-line-length = 120