[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "ncoreparser"
version = "1.9.0"
description = "Package to download from ncore.pro"
authors = [
  { name="Aron Radics", email="aron.radics.jozsef@gmail.com" }
]
license = "MIT"
readme = "Readme.md"
homepage = "https://github.com/radaron/ncoreparser"
dependencies = ["requests>=2.30"]

[project.optional-dependencies]
dev = ["pytest", "flake8"]
