name: Upload Python Package

on:
  workflow_run:
    workflows: ["Unit tests"]
    branches: [master]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v6
      with:
        python-version-file: '.python-version'
    - name: Install uv
      uses: astral-sh/setup-uv@v6
    - name: Build and upload package
      run: |
        uv build
        uv publish
        make git-tag
      env:
        UV_PUBLISH_TOKEN: ${{ secrets.PYPI_TOKEN }}
