name: Unit tests

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3
      uses: actions/setup-python@v1
      with:
        python-version: 3.9
    - name: Run lint
      run: |
        make lint
    - name: Perform tests
      run: |
        make test
    - name: Generate wheel file
      run: |
        make build
    - name: Upload artifacts
      uses: actions/upload-artifact@v1.0.0
      with:
        name: artifacts
        path: dist/
