name: Unit tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13']
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install uv
      uses: astral-sh/setup-uv@v6
    - name: Install dependencies
      run: |
        uv sync --dev --python ${{ matrix.python-version }}
    - name: Run lint
      run: |
        make lint
    - name: Check code format
      run: |
        make check-format
    - name: Perform tests
      run: |
        make test
